@{
    ViewBag.Title = "Edit";
}

<h2>Order Editing</h2>

@using (Html.BeginForm("Save", "Order_", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    int j = 1;
    int oderId=Convert.ToInt32(Session["OrderId"].ToString());
<table>
    <tr>
        <th>
        </th>      
        <th>
            OrderId - Mã đơn hàng
        </th>
        <th>
            Item - Tên Sản phẩm
        </th>
        <th>
            Quantity - Số lượng
        </th>
         <th>
            Note - Ghi chú
        </th>
    </tr>
@foreach (var item in new Web_IT_HELPDESK.Web_IT_HELPDESKEntities().OrderDetails.Where(i => i.OrderId == oderId))
{
    <tr>
        <td>
              @Html.Hidden("orderdetails.Index", (@j+10))
              @Html.TextBox("orderdetails[" + (@j + 10) + "].OrderDetailId", item.OrderDetailId, new {@readonly="readonly",@hidden="hidden"})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Title)
        </td>
        <td>
             @Html.TextBox("orderdetails[" + (@j + 10) + "].Quantity",item.Quantity)        
        </td>
        <td>
            @Html.TextBox("orderdetails[" + (@j + 10) + "].Note",item.Note)     
        </td>
    </tr>
    j = (Int16)j + 1;
}

</table>
    <input type="submit" value="Save" />
}