@model IEnumerable<Web_IT_HELPDESK.ORDER_TYPE_VIEW>

@{
    ViewBag.Title = "OrderList";
}

<h2>OrderList - Trang chủ danh sách yêu cầu từ phòng ban</h2>


 @using (Html.BeginForm("OrderList", "Order_", FormMethod.Post))
{
      <p>
            Find (tìm theo tên phòng ban, ghi chú): @Html.TextBox("SearchString","",new { @class = "text-box single-line", @style="background-color:#A9BCF5;" })    
            Tháng năm: @Html.TextBox("_datetime",DateTime.Now.Month.ToString("00")+"/"+DateTime.Now.Year.ToString("0000"),new { @class = "text-box single-line",@MaxLength="7", @style="background-color:#A9BCF5;" }) 
      <input type="submit" value="Search" /></p>
    
}

@if (Convert.ToString(Session["employee_id"].ToString()) == "admin" || Convert.ToString(Session["employee_id"].ToString()) == "D83003" ||
                Convert.ToString(Session["employee_id"].ToString()) == "MK78072" || Convert.ToString(Session["employee_id"].ToString()) == "H88768" ||
                Convert.ToString(Session["employee_id"].ToString()) == "HN91185" || Convert.ToString(Session["employee_id"].ToString()) == "HN92244")
{
    using (Html.BeginForm("ExportData", "Order_", FormMethod.Post))
    {
        <p>  
           @Html.TextBox("_datetime",DateTime.Now.Month.ToString("00")+"/"+DateTime.Now.Year.ToString("0000"),new { @class = "text-box single-line",@MaxLength="7", @style="background-color:#A9BCF5;", @hidden="hidden"}) 
            <input type="submit" id="ExportData" runat="server" value="Báo cáo mua hàng" />
       </p>
    }


    using (Html.BeginForm("ExportData2", "Order_", FormMethod.Post))
    {
        <p>  
           @Html.TextBox("_datetime",DateTime.Now.Month.ToString("00")+"/"+DateTime.Now.Year.ToString("0000"),new { @class = "text-box single-line",@MaxLength="7", @style="background-color:#A9BCF5;", @hidden="hidden"}) 
            <input type="submit" id="ExportData2" runat="server" value="Báo cáo tổng hợp" />
       </p>
    }
}
<table>
    <tr>
        <th>
            EmployeeID
        </th>
        <th>
            Note
        </th>
        <th>
            DateTime
        </th>
        <th></th>
          <th>User request</th>
    </tr>

@foreach (var item in Model) {
    bool department_confirm = (bool)item.Confirmed;
    <tr style="@(department_confirm == false ? "Background-color:#99FF99" : "")">
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>   
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @if (item.Confirmed != true || Convert.ToString(Session["employee_id"].ToString()) == "admin" || Convert.ToString(Session["employee_id"].ToString()) == "D83003" ||
                Convert.ToString(Session["employee_id"].ToString()) == "MK78072" || Convert.ToString(Session["employee_id"].ToString()) == "H88768" ||
                Convert.ToString(Session["employee_id"].ToString()) == "HN91185" || Convert.ToString(Session["employee_id"].ToString()) == "HN92244")
            {
                @Html.ActionLink("Edit", "Edit", new { id=item.OrderId },new { @class = "button" }) 
            }
            @Html.ActionLink("Details", "Details", new {  id=item.OrderId },new { @class = "button" }) 
             @if (item.Confirmed != true || Convert.ToString(Session["employee_id"].ToString()) == "admin" || Convert.ToString(Session["employee_id"].ToString()) == "D83003" ||
                Convert.ToString(Session["employee_id"].ToString()) == "MK78072" || Convert.ToString(Session["employee_id"].ToString()) == "H88768" ||
                Convert.ToString(Session["employee_id"].ToString()) == "HN91185" || Convert.ToString(Session["employee_id"].ToString()) == "HN92244")
            {
                @Html.ActionLink("Delete", "Delete", new {  id=item.OrderId },new { @class = "button" })
                                                                          
            }
             @Html.ActionLink("Copy", "Copy", new { id=item.OrderId },new { @class = "button" }) 
               
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.Employee_Name)
        </td>
    </tr>
}
</table>




