@model Web_IT_HELPDESK.Incident

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <style type="text/css">
        textarea {
            resize: vertical;
        }
    </style>
}

<div class="col-md-12 panel-info">
    <div class="content-box-header panel-heading">
        <div class="panel-title ">Detail</div>

        <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>
    <div class="content-box-large box-with-header">
        <div class="row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.Code, "No.", htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.Plant, "Plant", htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Plant, new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.plantName })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(model => model.DepartmentId, "Department", htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.DepartmentId, new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.DepartmentName })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(model => model.datetime, "Created Date", htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.datetime,"{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.StatusId, "Status", htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.StatusId, new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.StatusName })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(model => model.LevelId, "Level", htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.LevelId, new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.LevelName })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(model => model.FileName, "Attactment", htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.FileName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.User_create, "Requester", htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.User_create, new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.User_Create })
            </div>
            <div class="col-sm-8">
                @Html.LabelFor(model => model.Note, "Note", htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @rows = 3, @readonly = "readonly" })
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.User_resolve, "Solver", htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.User_create, new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.User_Resolve })
            </div>
            <div class="col-sm-8">
                @Html.LabelFor(model => model.Reply, "Reply", htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Reply, new { @class = "form-control", @rows = 3, @readonly = "readonly" })
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default", @style = "float: right" })
            </div>
        </div>
    </div>
</div>
