@model Web_IT_HELPDESK.Incident

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12 panel-info">
    <div class="content-box-header panel-heading">
        <div class="panel-title ">Detail</div>

        <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>
    <div class="content-box-large box-with-header">
        <div>
            <div class="row">
                @Html.HiddenFor(model => model.Id)
                <div class="col-sm-2">
                    No. <br />
                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @readonly = "readonly", onfocus = "this.blur()", @style = "background-color:#DEDEDE;" })
                </div>
                <div class="col-sm-2">
                    Plant <br />
                    @Html.TextBox("Plant", (string)ViewBag.plantName, new { @class = "form-control", @readonly = "readonly", onfocus = "this.blur()", @style = "background-color:#DEDEDE;" })
                </div>
                <div class="col-sm-2">
                    Date time <br />
                    @Html.TextBoxFor(model => model.datetime, new { @class = "form-control", @readonly = "readonly", onfocus = "this.blur()", @style = "background-color:#DEDEDE;" })
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-2">
                    Status <br />
                    @Html.TextBox("Status", (string)ViewBag.StatusName, new { @class = "form-control", @readonly = "readonly", onfocus = "this.blur()", @style = "background-color:#DEDEDE;" })
                </div>
                <div class="col-sm-2">
                    Level <br />
                    @Html.TextBox("Level", (string)ViewBag.LevelName, new { @class = "form-control", @readonly = "readonly", onfocus = "this.blur()", @style = "background-color:#DEDEDE;" })
                </div>
                <div class="col-sm-4">
                    Department <br />
                    @Html.TextBox("Department", (string)ViewBag.DepartmentName, new { @class = "form-control", @readonly = "readonly", onfocus = "this.blur()", @style = "background-color:#DEDEDE;" })
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    Employee request <br />
                    @Html.TextBox("User_Create", (string)ViewBag.UserCreate, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-sm-4">
                    Employee solve <br />
                    @Html.TextBox("User_Resolve", (string)ViewBag.UserResolve, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-sm-4">
                    Attactment <br />
                    @Html.TextBoxFor(model => model.FileName, new { @class = "form-control", @readonly = "readonly", onfocus = "this.blur()", @style = "background-color:#DEDEDE;" })
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    Note <br />
                    @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @readonly = "readonly", onfocus = "this.blur()", @row = 3 })
                    @Html.ValidationMessageFor(model => model.Note)
                </div>
                <div class="col-sm-6">
                    Reply <br />
                    @Html.TextAreaFor(model => model.Reply, new { @class = "form-control", @readonly = "readonly", onfocus = "this.blur()", @row = 3 })
                    @Html.ValidationMessageFor(model => model.Reply)
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default", @style = "float: right" })
                </div>
            </div>
            </div>
    </div>
</div>
