@model Web_IT_HELPDESK.Incident

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <style>
        textarea {
            resize: vertical;
            min-height: 34px;
            max-height: 102px;
        }
    </style>
}

<div class="col-md-12 panel-info">
    <div class="content-box-header panel-heading">
        <div class="panel-title ">Edit Order Request</div>

        <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>
    <div class="content-box-large box-with-header">
        @using (Html.BeginForm("Edit", "Incident", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.Code, "No.", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Plant", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("Plant Name", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.plantName } })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.DepartmentId, "Department", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("Department Name", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.DepartmentName } })
                        @Html.HiddenFor(model => model.DepartmentId)
                        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.datetime, "Created Date", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("Created Date", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ((DateTime)Model.datetime).ToString("dd/MM/yyyy") } })
                        @Html.HiddenFor(model => model.datetime)
                        @Html.ValidationMessageFor(model => model.datetime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.StatusId, "Status", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("StatusId")
                        @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.LevelId, "Level", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("LevelId")
                        @Html.ValidationMessageFor(model => model.LevelId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.FileName, "Attactment", htmlAttributes: new { @class = "control-label" }) :
                        @Html.DisplayFor(model => model.FileName)
                        @Html.TextBox("attachment", null, new { @class = "btn btn-primary form-control", @type = "file", @id = "attachment" })
                        @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.User_create, "Requester", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("UserCreate Name", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.UserCreateName } })
                        @Html.HiddenFor(model => model.User_create)
                        @Html.ValidationMessageFor(model => model.User_create, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-8">
                        @Html.LabelFor(model => model.Note, "Note", htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @rows = 3 })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-10">
                        <input type="submit" value="Edit" class="btn btn-primary" />
                    </div>
                    <div class="col-sm-2">
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default", @style = "float: right" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Script {
    <script type="text/javascript">
        $('select').selectron();
    </script>
}