@model IEnumerable<Web_IT_HELPDESK.ViewModels.IncidentViewModel>
@using Web_IT_HELPDESK.ViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-box-large">
    <h4>IT Order Request</h4>

    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("Index", "Incident", FormMethod.Post))
            {
                <div class="form-group">
                    <label class="control-label" style="display: inline-block; margin-right: 20px; font-size: larger">Month :</label>
                    @Html.TextBox("_datetime", DateTime.Now.ToString("yyyy-MM"), new { @type = "month", @class = "form-control", @style = "width: auto; display: inline-block" })
                </div>
                if (((List<PlantViewModel>)ViewBag.userPlants).Count() > 0)
                {
                    /*Only admin have this group*/
                    <div class="form-group">
                        <label class="control-label" style="display: inline-block; margin-right: 20px; font-size: larger">Plants :</label>
                        <div class="row">
                            @foreach (var item in ViewBag.userPlants)
                            {
                                <div class="col-sm-3">
                                    @Html.RadioButton("plants", (string)item.Plant_Id, false)<label style="vertical-align: middle; margin-left: 7px;">@item.Plant_Name</label>
                                </div>
                            }
                            @if (((List<PlantViewModel>)ViewBag.userPlants).Count != 1)
                            {
                                <div class="col-sm-3">
                                    @Html.RadioButton("plants", "all", true)<label style="vertical-align: middle; margin-left: 7px;">All</label>
                                </div>
                            }
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label class="control-label" style="display: inline-block; margin-right: 20px; font-size: larger">Process :</label>
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="radio-inline">
                                @Html.RadioButton("solved", "False", false)<label style="vertical-align: middle; margin-left: 7px;">Unresolved</label>
                            </label>

                            <label class="radio-inline">
                                @Html.RadioButton("solved", "True", false)<label style="vertical-align: middle; margin-left: 7px;">Solved</label>
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButton("solved", "all", true)<label style="vertical-align: middle; margin-left: 7px;">All</label>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Search</button>
                </div>
            }
        </div>
    </div>
    <div class="panel panel-info">
        <div class="content-box-header panel-heading">
            <div class="panel-title">Request List</div>

            <div class="panel-options">
                <a href="@Url.Action("Download", "Incident")" data-rel="download">
                    <i class="glyphicon glyphicon-download-alt"></i>
                </a>
            </div>
        </div>
        <div class="panel-body">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-bordered dataTable" id="inctable" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.datetime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.statusName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.levelName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.userCreateName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.userResolveName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Note)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        bool? department_confirm = item.Solved;
                        <tr style="@(department_confirm != true ? "Background-color:#99FF99" : "")">
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.datetime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.statusName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.levelName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.userCreateName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.userResolveName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                            <td>
                                <div class="btn-group-vertical" role="group" aria-label="Button group">
                                    @if (item.Solved != true)
                                    {
                                        if (((List<string>)ViewBag.userRules).Contains("EDIT"))
                                        {
                                            @Html.ActionLink("Edit", "Edit", new { inc_id = item.Id }, new { @class = "btn btn-default btn-xs", @role = "button" })
                                        }
                                        if (((List<string>)ViewBag.userRules).Contains("SOLVE"))
                                        {
                                            @Html.ActionLink("Solve", "Solve", new { inc_id = item.Id }, new { @class = "btn btn-default btn-xs", @role = "button" })
                                        }
                                    }
                                    @if (((List<string>)ViewBag.userRules).Contains("DETAILS"))
                                    {
                                        @Html.ActionLink("Details", "Details", new { inc_id = item.Id }, new { @class = "btn btn-default btn-xs", @role = "button" })
                                    }
                                    @if (item.FileAttched != null)
                                    {
                                        @Html.ActionLink("Get_file", "Get_file", new { inc_id = item.Id }, new { @class = "btn btn-default btn-xs", @role = "button" })
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Script {
    <script type="text/javascript">
        $.fn.dataTable.moment('D/MM/YYYY');

        $('#inctable').DataTable({
            'scrollX': true,
            aaSorting: [[1, 'desc']]
        });
    </script>
}