@model IEnumerable<Web_IT_HELPDESK.BIZ_TRIP>

@{
    ViewBag.Title = "biz_trip_index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.refresh').click(function () {
            location.reload();
        });
    });
</script>
<!-- Modal -->
<div id="messageModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông báo!!!</h4>
            </div>
            <div class="modal-body">
                <div style="text-align: center">
                    <p id="msgNotify">This is message.</p>
                    <p>************** Thank you!!! **************</p>
                </div>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Close", "biz_trip_index", "BIZ_TRIP", null, new { @class = "btn btn-default" })

            </div>
        </div>
    </div>
</div>
<div class="content-box-large">
    <h4>Biz_Trip Page</h4>
    <div class="panel panel-default">
        <div class="panel-body">

            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        @Html.Label("Tên/mã phòng ban:")
                        @Html.Editor("SearchString", "", new { htmlAttributes = new { @class = "form-control", @style = "background-color:#A9BCF5;" } })
                    </div>
                    <div class="col-sm-12 col-md-6">
                        @Html.Label("Tháng:")
                        <div class="input-group date" id="_datetime">
                            @Html.Editor("_datetime", new { htmlAttributes = new { @class = "form-control", @style = "background-color:#A9BCF5;" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <input class="btn btn-default" type="submit" value="Search" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="panel panel-info">
        <div class="content-box-header panel-heading">
            <div class="panel-title">History</div>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped nowrap" id="biztrip" width="100%">
                <thead>
                    <tr>
                        <th>
                            No
                        </th>
                        <th>
                            Empno
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Dept
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Vehicle
                        </th>
                        <th>
                            Contact Co.
                        </th>
                        <th>
                            Contact Person
                        </th>
                        <th>
                            Contact Dept
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            From date
                        </th>
                        <th>
                            To date
                        </th>
                        <th>
                            Equip
                        </th>
                        <th>
                            Dept conf
                        </th>
                        <th>
                            HR conf
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @using (Html.BeginForm("Resend", "BIZ_TRIP", FormMethod.Post))
                    {
                        foreach (var item in Model)
                        {
                            bool? department_confirm = item.DEPT_CONFIRM;
                            bool? hr_confirm = item.HR_CONFIRM;
                            bool? it_confirm = item.IT_CONFIRM;
                            <tr style="@(department_confirm == false ? "Background-color:#40FF00" :
                                 department_confirm == true &&  hr_confirm == false ? "Background-color:#82FA58" :
                                 hr_confirm == true  &&  it_confirm == false ? "Background-color:#F3F781" :
                                  it_confirm == true ? "Background-color:#BCF5A9" : "")">
                                <td>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EMPNO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DEPT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DESCRIPTION)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VEHICLE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CONTACT_COMPANY)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CONTACT_PERSON)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CONTACT_DEPT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DATE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FROM_DATE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TO_DATE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.REMARK)
                                </td>
                                <td>
                                    @Html.CheckBox("DEPT_CONFIRM", item.DEPT_CONFIRM.GetValueOrDefault())
                                </td>
                                <td>
                                    @Html.CheckBox("HR_CONFIRM", item.HR_CONFIRM.GetValueOrDefault())
                                </td>
                                <td>
                                    @if ((bool)ViewBag.IsResend)
                                    {
                                        @Html.ActionLink("Resend", "Resend", new { id = item.ID }, new { @class = "btn btn-primary btn-xs", @role = "button" })
                                    }
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary btn-xs", @role = "button" })
                                    <button class="refresh">
                                        @Ajax.ActionLink(
                                                            "Print",
                                                            "BizTripPrint",
                                                            "BIZ_TRIP",
                                                            new { v_id = item.ID },
                                                            new AjaxOptions
                                                                {
                                                                UpdateTargetId = "",
                                                                InsertionMode = InsertionMode.Replace
                                                                },
                                                            new { @class = "button" }
                                                        )
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Script {
    <script type="text/javascript">
        //get result message for modal when it show
        $('#messageModal').on('shown.bs.modal', function (e) {
            var message = '@Html.Raw(ViewBag.Message)';
            var modal = $(this);
            var msgPlace = modal.find('.modal-body p#msgNotify');
            msgPlace.text(message);
        });

        //set backdrop and show follow ModalState from controller
        $('#messageModal').modal({
            backdrop: 'static',
            keyboard: false,
            show: @ViewBag.ModalState,
        });

        var t = $('#biztrip').DataTable({
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "order": [[9, 'desc']],
            "scrollX": true
        });

        t.on('order.dt search.dt', function () {
            t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        $('#_datetime').datepicker({
            format: 'mm/yyyy',
            autoclose: true,
            startView: "months",
            minViewMode: "months"
        });

        $('#_datetime').datepicker('setDate', 'today');
    </script>
}
