@model IEnumerable<Web_IT_HELPDESK.Employee>

@{
    ViewBag.Title = "Contacts";
}

<div class="content-box-large">
    <h4>Contact List - CJ Vina Agri</h4>
    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("Index", "Contacts", FormMethod.Post))
            {
                <div class="row">
                    @foreach (var item in ViewBag.plants)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            @if (item.Plant_Id == ViewBag.curr_PlantID)
                            {
                                @Html.RadioButton("plantid", (string)item.Plant_Id, true)<label style="vertical-align: middle; margin-left: 7px;">@item.Plant_Name</label>
                            }
                            else
                            {
                                @Html.RadioButton("plantid", (string)item.Plant_Id, false)<label style="vertical-align: middle; margin-left: 7px;">@item.Plant_Name</label>
                            }
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input class="btn btn-default" type="submit" value="View" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div style="text-align:right">
        <a href="@Url.Action("Download", "Contacts", new { plantid = ViewBag.curr_PlantID})" data-rel="download" class="btn btn-xs btn-warning">
            Download &nbsp;
            <i class="glyphicon glyphicon-download-alt"></i>
        </a>
    </div>
    <div id="accordion">
        @foreach (var item_department in ViewBag.departments)
        {
            int countEmpByDept = Model.Where(e => e.Department_ID == item_department.Department_Id).Count();
            if (countEmpByDept > 0)
            {
                <h3>@item_department.Department_Name</h3>
                <div class="panel-heading">
                    <div class="panel-body">
                        <table class="table table-striped table-bordered" id="contact" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Employee No
                                    </th>
                                    <th>
                                        Full Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Birthday
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Where(i => i.Deactive != true && i.Department_ID == item_department.Department_Id).Distinct())
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Emp_CJ)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Employee_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrWhiteSpace(item.Email) && !item.Email.Contains("@cj.net"))
                                            {
                                                @Html.DisplayFor(modelItem => item.Phone)
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Birthday)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Script {
    <script type="text/javascript">
        $("#accordion").accordion({
            heightStyle: "content"
        });

        $("#contact").dataTable({
            'paging': false,
            'searching': false,
            'ordering': false,
            'info': false,
            'scrollX': true
        });
    </script>
}