@model IEnumerable<Web_IT_HELPDESK.ViewModels.SealUsingViewModel.IndexSealUsing>
@using Web_IT_HELPDESK

@{
    ViewBag.Title = "Seal Using";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Modal -->
<div id="messageModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông báo!!!</h4>
            </div>
            <div class="modal-body">
                <div style="text-align: center">
                    <p id="msgNotify">This is message.</p>
                    <p>************** Thank you!!! **************</p>
                </div>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Close", "Index", "SealUsing", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>

<div class="content-box-large">
    <h4>Seal Using Page</h4>
    <div class="panel panel-default">
        <div class="panel-body">

            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        @Html.Label("Tên/mã phòng ban:")
                        @Html.Editor("SearchString", "", new { htmlAttributes = new { @class = "form-control", @style = "background-color:#A9BCF5;" } })
                    </div>
                    <div class="col-sm-12 col-md-6">
                        @Html.Label("Tháng:")
                        <div class="input-group date" id="_datetime">
                            @Html.Editor("_datetime", new { htmlAttributes = new { @class = "form-control", @style = "background-color:#A9BCF5;" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <input class="btn btn-default" type="submit" value="Search" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="panel panel-info">
        <div class="content-box-header panel-heading">
            <div class="panel-title">History</div>
            @*<div class="panel-options">
                    <a href="@Url.Action("Download", "Incident")" data-rel="download">
                        <i class="glyphicon glyphicon-download-alt"></i>
                    </a>
                </div>*@
        </div>
        <div class="panel-body">
            @*@using (Html.BeginForm("Resend", "SealUsing", FormMethod.Post))
                {*@
            <table class="table table-bordered table-striped nowrap" id="sealusing" width="100%">
                <thead>
                    <tr>
                        <th>
                            No.
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Department
                        </th>
                        <th>
                            Employee Name
                        </th>
                        <th>
                            Code
                        </th>
                        <th>
                            Document Type
                        </th>
                        <th>
                            Content
                        </th>
                        <th>
                            Receiving place
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SealUsing.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeptName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SealUsing.Employee_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SealUsing.Code_number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SealUsing.Type_document)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SealUsing.Context)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SealUsing.Place_Recipient)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.SealUsing.Id }, new { @class = "btn btn-primary btn-xs", @role = "button" })
                                @if (ViewBag.IsResend == true)
                                {
                                    @Html.ActionLink("Resend", "Resend", new { id = item.SealUsing.Id }, new { @class = "btn btn-primary btn-xs", @role = "button" })
                                }
                                @*@Html.ActionLink("Edit", "Edit", new { id=item.SealUsing.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
                                    @Html.ActionLink("Confirm", "Confirm", new { id=item.SealUsing.Id }) |*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*  }*@
        </div>
    </div>
</div>

@section Script {
    <script type="text/javascript">
          //get result message for modal when it show
        $('#messageModal').on('shown.bs.modal', function (e) {
            var message = '@Html.Raw(ViewBag.Message)';
            var modal = $(this);
            var msgPlace = modal.find('.modal-body p#msgNotify');
            msgPlace.text(message);
        });

        //set backdrop and show follow ModalState from controller
        $('#messageModal').modal({
            backdrop: 'static',
            keyboard: false,
            show: @ViewBag.ModalState,
        });

        var t = $('#sealusing').DataTable({
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "order": [[1, 'asc']],
            "scrollX": true
        });

        t.on('order.dt search.dt', function () {
            t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        $('#_datetime').datepicker({
            format: 'mm/yyyy',
            autoclose: true,
            startView: "months",
            minViewMode: "months"
        });

        $('#_datetime').datepicker('setDate', 'today');
    </script>
}
