@model Web_IT_HELPDESK.CONTRACT

@{
    ViewBag.Title = "CreateContract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateContract</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>CONTRACT</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.VENDOR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VENDOR)
            @Html.ValidationMessageFor(model => model.VENDOR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PERIOD_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PERIOD_ID)
            @Html.ValidationMessageFor(model => model.PERIOD_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ADREES)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ADREES)
            @Html.ValidationMessageFor(model => model.ADREES)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PHONE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PHONE)
            @Html.ValidationMessageFor(model => model.PHONE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REPRESENTATION)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REPRESENTATION)
            @Html.ValidationMessageFor(model => model.REPRESENTATION)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATE)
            @Html.ValidationMessageFor(model => model.DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATE_CREATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATE_CREATE)
            @Html.ValidationMessageFor(model => model.DATE_CREATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CONTRACTNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CONTRACTNAME)
            @Html.ValidationMessageFor(model => model.CONTRACTNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NOTE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NOTE)
            @Html.ValidationMessageFor(model => model.NOTE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.USER_CREATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.USER_CREATE)
            @Html.ValidationMessageFor(model => model.USER_CREATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEPARMENTID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEPARMENTID)
            @Html.ValidationMessageFor(model => model.DEPARMENTID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEL)
            @Html.ValidationMessageFor(model => model.DEL)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
