@model Web_IT_HELPDESK.Models.ContractViewModel

@{
    ViewBag.Title = "CreateCONTRACTViewModel";
}

<script>
    $(document).ready(function () {
        var i = 0;
        $("#add_row").click(function () {
            $('#addr' + i).html("<td>" +  (i + 1) + "</td>"
                        + "<td>" +
                        //"<select id='Assets_flow_Id' name='Assets_flow_Id'>" +
                        "<select id='Assets_flow_Id' name='Assets_flow_Id'>" +
                        "<option selected='selected' value='01'>Mua tiền mặt</option>"+
                        "<option value='02'>Mua bằng ngân sách</option>"+
                        "<option value='03'>Mua bằng khoản vay</option>"+
                        "</select>"
                       +"</td>"
                        //+ "<td>"
                       // + "<input class='text-box single-line' id='ImportsDetail_" + i + "_Price' name='ImportsDetail[" + i + "].Price' type='text'  placeholder='sl'  class='form-control input-md'>"
                        //+ "</td>" +
                         //+"<td><input  class='text-box single-line' id='ImportsDetail_" + i + "_Note' name='ImportsDetail[" + i + "].Note'  type='text' placeholder='Note'  class='form-control input-md'></td>");
                         
                        + "<td><input  id='ImportsDetail_" + i + "_Price' name='ImportsDetail[" + i + "].Price' type='number' placeholder='0' style='text-align:right;' class='form-control input-md'></td>"
                        + "<td><input     id='ImportsDetail_" + i + "_Note' name='ImportsDetail[" + i + "].Note'  type='text' placeholder='Note'  class='form-control input-md'></td>"
                       + "<td><input id='ImportsDetail_" + i + "_Date' name='ImportsDetail["+i+"].Date' type='date'></td>");

            $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
            i++;
        });
        $("#delete_row").click(function () {
            if (i > 1) {
                $("#addr" + (i - 1)).html('');
                i--;
            }
        });

    });
</script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ContractViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CONTRACT_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CONTRACT_ID)
            @Html.ValidationMessageFor(model => model.CONTRACT_ID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
    
    <thead>
    <tr style="width:auto">
        <th class="text-center">
		#.No
		</th>
        <th>
            @Html.LabelFor(model => model.PERIOD.PERIOD_ID, "PERIOD")
        </th>
         <th>
           Price
        </th>
        <th>
           Note
        </th>
          <th>
           DELETE
        </th>
    </tr>
</thead>
<tbody>
    <tr style="width:auto">
        <th class="text-center">
		1
		</th>
        <th>
           @Html.DropDownList("PERIOD_ID")
           @Html.ValidationMessageFor(model => model.CONTRACT_SUB.PERIODID)
        </th>
        <th>
         <!--Html.TextBox("ImportsDetail[" + 0 + "].Price",Model.ImportsDetail.Price)    -->
            <input id='ImportsDetail_0_Price' name='ImportsDetail[0].Price' placeholder='0'   type='number' style="text-align:right;" step="0.00"  class='form-control input-md'>
        </th>
         <th>
         <!--Html.TextBox("ImportsDetail[" + 0 + "].Note",Model.ImportsDetail.Note)   -->
             <input  id='ImportsDetail_0_Note' name='ImportsDetail[0].Note'  type='text' placeholder='Note'  class='form-control input-md'>
        </th>
           <th>
             <input name='ImportsDetail[0].Date'  type='date'>
        </th>
          <th>
        <button class="toggle3">
          @Ajax.ActionLink(
                                "Delete",
                                "Delete_importDetail",
                                "Asset_Import",
                                new { v_id = @Model.CONTRACT_SUB.ID},// v_asset_id = @Model.ImportsDetail.Asset_Id },
                                new AjaxOptions
                                {
                                    UpdateTargetId = "",
                                    InsertionMode = InsertionMode.Replace,
                                },
                            new { @class = "button" }
                            )
               </button>
        </th>
    </tr>
  	</tbody>
			
    
    <div style="text-align:center">
	<input type="button" id="add_row" class="button"/ value="Add">
    <input type="submit" value="Save" />
    </div>

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
