@model IEnumerable<Web_IT_HELPDESK.Employee>

@{
    ViewBag.Title = "ContactList2";
}

<div class="page-content">
    <div class="row">

        <div class="col-md-10">
            <div class="content-box-large">

                <h2>ContactList2</h2>
                @using (Html.BeginForm("Contactlist2", "Document", FormMethod.Post))
                {
                    @Html.RadioButton("solved", "V2010", true)<label>Long An</label>
                    @Html.RadioButton("solved", "V2050", false)<label>Hưng Yên</label>
                    @Html.RadioButton("solved", "V2020", false)<label>Vĩnh Long</label>
                    @Html.RadioButton("solved", "V2030", false)<label>Đồng Nai</label>
                    @Html.RadioButton("solved", "V2060", false)<label>Hà Nam</label>
                    @Html.RadioButton("solved", "V2070", false)<label>Bình Định</label>
                    @Html.RadioButton("solved", "V2080", false)<label>MêKông</label>
                    @Html.RadioButton("solved", "V2090", false)<label>Headquarters</label>



                    <p>
                        <input type="submit" value="View" />
                    </p>
                }

                <a href="@Url.Content("~/Content/contact_list_longan.xlsx")">contact_list_longan(download)</a>

                <meta charset="utf-8">
                <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
                <script src="//code.jquery.com/jquery-1.10.2.js"></script>
                <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
                <link rel="stylesheet" href="/resources/demos/style.css">
                <script>
                    $(function () {
                        $("#accordion").accordion({
                            heightStyle: "content"
                        });
                    });
                </script>
                @using (Html.BeginForm("Contactlist", "Document", FormMethod.Post))
                {
                    <div id="accordion">
                        <!--h3>DEPT_NAME</!--h3>
                          <div>
                          <p>Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                          </div>

                          <h3>DEPT_NAME2</h3>
                          <div>
                          <p>Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                        </div-->
                        @foreach (var item_department in new Web_IT_HELPDESK.ServiceDeskEntities().Departments.Where(i => i.Deactive != true && i.Plant_Id == "V2010").Distinct())
                        {
                            <h3>@item_department.Department_Name</h3>

                            <div class="panel-heading">
                                <div class="panel-body">
                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable" id="example" aria-describedby="example_info">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Employee_No
                                                </th>
                                                <th>
                                                    FULL_NAME
                                                </th>
                                                <th>
                                                    EMAIL
                                                </th>
                                                <th>
                                                    PHONE
                                                </th>
                                                <th>
                                                    BIRTHDAY
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--div>foreach (var item in new Web_IT_HELPDESK.Entities().EmployeeInfoes.Where(i => i.DE != true && i.DEPT == item_department.DepartmentId).Distinct())</div-->
                                            @foreach (var item in Model.Where(i => i.Deactive != true && i.Department_Id == item_department.Department_Id).Distinct())
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Emp_CJ)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.EmployeeName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Email)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Phone)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Birthday)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        }

                    </div>
                }
            </div>
        </div>
    </div>
</div>