@model IEnumerable<Web_IT_HELPDESK.EmployeeInfo>

@{
    ViewBag.Title = "ContactList2";
}

 <div class="page-content">
    	<div class="row">
		  
		  <div class="col-md-10">
		  	<div class="content-box-large">

                    <h2>ContactList2</h2>
                    @using (Html.BeginForm("Contactlist2", "Document", FormMethod.Post))
                    {
                    @Html.RadioButton("solved","0301",true)<label>Long An</label>
                    @Html.RadioButton("solved","0302",false)<label>Hưng Yên</label> 
                    @Html.RadioButton("solved","0303",false)<label>Vĩnh Long</label>
                    @Html.RadioButton("solved","0304",false)<label>Đồng Nai</label>
                    @Html.RadioButton("solved","0305",false)<label>Hà Nam</label>
                    @Html.RadioButton("solved","0306",false)<label>Bình Định</label>
                    @Html.RadioButton("solved","0307",false)<label>Đồng Tháp</label>
                    @Html.RadioButton("solved","0308",false)<label>MêKông</label>
    
    
    
                          <p>
                            <input type="submit" value="View" />
                        </p>
                    }

                    <a href="@Url.Content("~/Content/contact_list_longan.xlsx")">contact_list_longan(download)</a>

                      <meta charset="utf-8">
                      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
                      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
                      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
                      <link rel="stylesheet" href="/resources/demos/style.css">
                      <script>
                      $(function() {
                        $( "#accordion" ).accordion({
                          heightStyle: "content"
                        });
                      });
                      </script>
                    <body>
                    @using (Html.BeginForm("Contactlist", "Document", FormMethod.Post))
                    {
                    <div id="accordion">
                         <!--h3>DEPT_NAME</!--h3>
                        <div>
                        <p>Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                        </div>
    
                        <h3>DEPT_NAME2</h3>
                        <div>
                        <p>Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                      </div-->
                        @foreach (var item_department in new Web_IT_HELPDESK.ServiceDeskEntities().Departments.Where(i => i.Del != true && i.Plant=="0301").Distinct())
                        {
                            <h3>@item_department.DepartmentName</h3>
        
                             <div class="panel-heading">
                              <div class="panel-body">
		  	                     <table class="table table-hover"  cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable" id="example" aria-describedby="example_info">
				                  <thead>
                                    <tr>
                                        <th>
                                            FULL_NAME
                                        </th>
                                        <th>
                                            EMAIL
                                        </th>
                                        <th>
                                            PHONE
                                        </th>
                                        <th>
                                            EXTENSION
                                        </th>
                                        <th>
                                            BIRTHDAY
                                        </th>
                                    </tr>
                                 </thead>
                            <tbody>
                            <!--div>foreach (var item in new Web_IT_HELPDESK.Entities().EmployeeInfoes.Where(i => i.DE != true && i.DEPT == item_department.DepartmentId).Distinct())</div-->
                            @foreach (var item in Model.Where(i => i.DE != true && i.DEPT == item_department.DepartmentId).Distinct())
                            {
                            <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FULL_NAME)
                            </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.PHONE)
                            </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.EXTENSION)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.BIRTHDAY)
                                 </td>
                              </tr>
                            }
                         </tbody>
                       </table>
                        </div>
	    	        </div>

                        }
        
                    </div>
                    }
                    </body>

                  
           	</div>
	    </div>
    </div>
</div>