@model IEnumerable<Web_IT_HELPDESK.EmployeeInfo>

@{
    ViewBag.Title = "Contactlist";
}

<h2>Contactlist</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            EMPNO
        </th>
        <th>
            DEPT_NAME
        </th>
        <th>
            FULL_NAME
        </th>
        <th>
            GRADE
        </th>
        <th>
            POSITION_NAME
        </th>
        <th>
            JOB_NAME
        </th>
        <th>
            EMP_STATUS
        </th>
        <th>
            BIRTHDAY
        </th>
        <th>
            HIRE_DATE
        </th>
        <th>
            PHONE
        </th>
        <th>
            EXTENSION
        </th>
        <th>
            REMARK
        </th>
        <th>
            DE
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EMPNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FULL_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRADE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POSITION_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JOB_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BIRTHDAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HIRE_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXTENSION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>

