@model Web_IT_HELPDESK.ViewModels.AllocationViewModel.Details

@{
    ViewBag.Title = "Device Management - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style {
    <style>
        .material {
            border: none;
            border-bottom: 1px solid #ccc;
            box-shadow: none;
            background: none !important;
        }

        textarea {
            resize: vertical;
            min-height: 34px;
            max-height: 102px;
        }
    </style>
}

<!--Region Device Information-->
<div class="col-md-12 panel-info">
    <div class="content-box-header panel-heading">
        <div class="panel-title ">Device Info</div>
    </div>
    <div class="content-box-large box-with-header">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <fieldset disabled style="background-color:none;">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Device.Device_Type.Device_Type_Name, "Device Type", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Device.Device_Type.Device_Type_Name, "Device_Type_Id", new { htmlAttributes = new { @class = "form-control material", } })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Device.Device_Name, "Device Name", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Device.Device_Name, "Device_Name", new { htmlAttributes = new { @class = "form-control material" } })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Device.Serial_No, "Serial Number", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Device.Serial_No, "Serial Number", new { htmlAttributes = new { @class = "form-control material" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Device.CONTRACT.CONTRACTNAME, "Contract", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Device.CONTRACT.CONTRACTNAME, "Contract_Id", null, new { htmlAttributes = new { @class = "form-control material" } })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Device.Purchase_Date, "Purchase Date", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Device.Purchase_Date, "Purchase_Date", new { htmlAttributes = new { @class = "form-control material" } })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Device.Depreciation, "Depreciation", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Device.Depreciation, "Depreciation", new { htmlAttributes = new { @class = "form-control material" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Device.CPU, "CPU", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Device.CPU, "CPU", new { htmlAttributes = new { @class = "form-control material" } })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Device.RAM, "RAM", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Device.RAM, "RAM", new { htmlAttributes = new { @class = "form-control material" } })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Device.DISK, "DISK", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Device.DISK, "DISK", new { htmlAttributes = new { @class = "form-control material" } })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Device.Device_Status, "Device Status", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Device.Device_Status, "Device_Status", new { htmlAttributes = new { @class = "form-control material" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Device.Operation_System, "Operation System", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Device.Operation_System, "Operation_System", new { htmlAttributes = new { @class = "form-control material" } })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Device.Office, "Microsoft Office", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Device.Office, "Office", new { htmlAttributes = new { @class = "form-control material" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Device.OS_License, "OS License", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Device.OS_License, "OS_License", new { htmlAttributes = new { @class = "form-control material" } })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Device.Office_License, "Office License", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Device.Office_License, "Office_License", new { htmlAttributes = new { @class = "form-control material" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Device.Note, "Note", htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Device.Note, htmlAttributes: new { @class = "form-control material", @rows = 2 })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Device.Addition_Information, "Addition Information", htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Device.Addition_Information, htmlAttributes: new { @class = "form-control material", @rows = 2 })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12" style="text-align:center">
                        <img src="@Url.Content(Model.Device.QRCodeFile)" alt="@Model.Device.QRCodeFile.Substring(Model.Device.QRCodeFile.LastIndexOf(@"\") + 1)" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<!--End Region Device Information-->
@if (ViewBag.hasAllocation)
{
    <!--Region Table Allocations-->
    <div class="col-md-12 panel-info">
        <div class="content-box-header panel-heading">
            <div class="panel-title ">History Provides</div>
        </div>
        <div class="content-box-large box-with-header">
            <table class="display nowrap" id="allocation" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Representation.Allocation.Allocation_Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Representation.Allocation.Deliver)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Representation.Allocation.Receiver)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Representation.Allocation.Delivery_Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Representation.Allocation.Return_Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Representation.Allocation.Note)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Representation.Allocation.IP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Representation.Allocation.Create_Date)
                        </th>
                        <th>
                            @Html.DisplayName("Department Name")
                        </th>
                        <th>
                            @Html.DisplayName("Plant Name")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Representations)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Allocation.Allocation_Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliverName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReceiverName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Allocation.Delivery_Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Allocation.Return_Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Allocation.Note)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Allocation.IP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Allocation.Create_Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartmentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PlantName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--End Region Table Allocations-->
    <!--Region Details of Allocation-->
    <div class="col-md-12 panel-info">
        <div class="content-box-header panel-heading">
            <div class="panel-title ">Information Providing</div>
        </div>
        <div class="content-box-large box-with-header">
            <fieldset disabled>
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Representation.Allocation.Allocation_Code, "Allocation Code", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Representation.Allocation.Allocation_Code, null, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Representation.Allocation.Deliver, htmlAttributes: new { @class = "control-label" })
                            @Html.Editor("Deliver Name", null, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.DeliverName } })
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Representation.Allocation.Delivery_Date, "Provided Date", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Representation.Allocation.Delivery_Date, "Provided Date", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Representation.Allocation.Department.Department_Name, "Department", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Representation.Allocation.Department.Department_Name, null, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Representation.Allocation.Receiver, htmlAttributes: new { @class = "control-label" })
                            @Html.Editor("Receiver Name", null, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.ReceiverName } })
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Representation.Allocation.Return_Date, "Revoked Date", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Representation.Allocation.Return_Date, "Revoked Date", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-8">
                            @Html.LabelFor(model => model.Representation.Allocation.Note, "Note", htmlAttributes: new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.Representation.Allocation.Note, new { @class = "form-control", @rows = 1 })
                            @Html.ValidationMessageFor(model => model.Representation.Allocation.Note, "", new { @class = "text-danger" })
                        </div>
                        @if (new[] { 3, 6 }.Contains((int)Model.Device.Device_Type_Id))
                        {
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Representation.Allocation.IP, "IP", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Representation.Allocation.IP, null, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Representation.Allocation.IP, "", new { @class = "text-danger" })
                            </div>
                        }
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <!--End Region Edit Form Allocation-->
    @section Script {
        <script type="text/javascript">
            $('#allocation').DataTable({
                aaSorting: [[7, 'desc']],
                "scrollX": true
            });
        </script>
    }
}